<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    {{> header }}  {{!-- header partial / header.hbs--}}
    <p>{{screamIt welcomeMessage}}</p> {{!-- hb helper --}}


    {{> footer}}  {{!-- footer partial / footer.hbs--}}
  </body>
</html>